<!DOCTYPE html>
<html lang="en">
<head>
<title>valley</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,user-scalable=no,minimum-scale=1.0,maximum-scale=1.0">
<style>
body {
    margin: 0px;
    overflow: hidden;
    background-color: white;
}
</style>
</head>
<body>
<div id="container"></div>
<script type="text/javascript" src="three.js"></script>
<script type="text/javascript" src="FlyControls.js"></script>
<script type="text/javascript" src="GPUComputationRenderer.js"></script>
<script type="text/javascript" src="Detector.js"></script>
<script type="text/javascript" src="perlin.js"></script>
<script id="tvs" type="x-shader/x-vertex-shader">{{ terrainvert }}</script>
<script id="rfs" type="x-shader/x-fragment-shader">{{ reactfrag }}</script>
<script type="text/javascript">{{ main }}</script>
</body>
</html>
